@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Gill Sans", sans-serif;
    /* font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif; */
  }
  :root {
    /* Light mode colors */
    --bg-primary: #ffffff;
    --bg-secondary: #f3f4f6;
    --text-primary: #111827;
    --text-secondary: #4b5563;
    --border-color: #e5e7eb;
    --color-primary: #e16a3d;
    --color-primary-dark: #c95a32;
    --color-primary-light: #fb923c;
    --color-primary-100: #ffedd5;
    --color-primary-50: #fff7ed;
    --head: #f3f4f6;
  }

  .dark {
    /* Dark mode colors */
    --bg-primary: #111827;
    --bg-secondary: #1f2937;
    --text-primary: #f9fafb;
    --text-secondary: #d1d5db;
    --border-color: #374151;
    --color-primary-100: #f75f2385;
    --color-primary-50: #af9389;
    --head: #11223b;
  }
}

/* Custom utility classes */
@layer utilities {
  .bg-primary-light {
    background-color: var(--bg-primary);
  }

  .text-primary-light {
    color: var(--text-primary);
  }
}

.MuiPickersSectionList-root {
  padding: 8px !important;
}

.MuiOutlinedInput-root .MuiPickersSectionList-root {
  padding: 10px !important;
}

.MuiOutlinedInput-root:hover
  .MuiOutlinedInput-notchedOutline {
  border-color: var(--border-color) !important;
}

.MuiMenu-paper {
  /* height: 200px !important; */
  max-height: 200px !important;
  width: 200px !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: var(--border-color) !important;
  /* padding: 16px 8px !important; */
  /* top: 0px !important; */
}

.MuiMenu-paper {
  background-color: var(--bg-primary) !important;
  color: var(--text-primary) !important;
}

.MuiDialog-paper {
  background-color: var(--bg-primary) !important;
}

.MuiSelect-icon {
  color: var(--text-primary) !important;
}

.MuiSvgIcon-root {
  color: var(--text-secondary) !important;
}

.MuiTextField-root {
  min-width: 180px !important;
  /* width: 200px !important; */
}

.css-1pjd06b {
  padding: 15px !important;
  padding-left: 80px !important;
  padding-bottom: 0 !important;
}

.css-yerm9j {
  padding: 15px !important;
  padding-left: 204px !important;
  padding-bottom: 0 !important;
}

.MuiPickersOutlinedInput-root {
  width: 193px !important;
}

.MuiOutlinedInput-input {
  width: 150px !important;
}

.MuiPickersTextField-root {
  width: 100% !important;
}

.MuiDialog-paper {
  background-color: var(--bg-primary) !important;
}

.MuiPickersOutlinedInput-sectionsContainer {
  color: var(--text-primary) !important;
}

.MuiInputLabel-root {
  color: var(--text-primary) !important;
}

.MuiFormLabel-asterisk {
  color: red;
}

.MuiButton-root {
  text-transform: capitalize !important;
}

.MuiButton-root {
  text-transform: capitalize !important;
}

.MuiButton-root {
  text-transform: capitalize !important;
}

.MuiTab-root {
  text-transform: capitalize !important;
}

.MuiTableCell-body {
  padding: 2px 2px 2px 16px !important;
}

.MuiDialog-paper {
  background-color: var(--bg-primary) !important;
}

.MuiSelect-icon {
  color: var(--text-primary) !important;
}

.MuiButton-root {
  border-color: var(--border-color) !important;
  color: var(--text-primary) !important;
  padding: 8px !important;
}

.css-1phy807 {
  padding: 0 !important;
}

.MuiTableCell-head {
  color: var(--text-primary) !important;
  padding: 12px 16px !important;
  font-weight: 600 !important;
  background-color: var(--head) !important  ;
}

.MuiTableCell-body {
  color: var(--text-secondary) !important;
}

.MuiDialog-paper {
  background-color: var(--bg-primary) !important;
}

.MuiSwitch-switchBase.Mui-checked {
  color: var(--color-primary) !important;
}

.MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  background-color: var(--color-primary) !important;
}

.MuiTableCell-head {
  background-color: var(--head) !important  ;
}

.MuiCircularProgress-root {
  color: var(--color-primary) !important;
}

.MuiFormHelperText-root {
  color: var(--text-primary) !important;
}

.MuiSvgIcon-root {
  font-size: 18px !important;
}

.MuiOutlinedInput-root {
  /* top: -5px !important; */
}

.MuiTableCell-body {
  padding: 8px 16px !important;
}

.MuiTextField-root {
  /* top: 5px !important; */
}

/* .MuiFormControl-root {
  width: 100% !important;
} */

.MuiPickersOutlinedInput-root {
  padding: 0 14px 0 0 !important;
}

.MuiFormHelperText-root.Mui-error {
  color: #e42929 !important;
}