@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Gill Sans", sans-serif;
    /* font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif; */
  }
  :root {
    /* Light mode colors */
    --bg-primary: #ffffff;
    --bg-secondary: #f3f4f6;
    --text-primary: #111827;
    --text-secondary: #4b5563;
    --border-color: #e5e7eb;
    --color-primary: #e16a3d;
    --color-primary-dark: #c95a32;
    --color-primary-light: #fb923c;
    --color-primary-100: #ffedd5;
    --color-primary-50: #fff7ed;
    --head: #f3f4f6;
  }

  .dark {
    /* Dark mode colors */
    --bg-primary: #111827;
    --bg-secondary: #1f2937;
    --text-primary: #f9fafb;
    --text-secondary: #d1d5db;
    --border-color: #374151;
    --color-primary-100: #f75f2385;
    --color-primary-50: #af9389;
    --head: #11223b;
  }
}

/* Custom utility classes */
@layer utilities {
  .bg-primary-light {
    background-color: var(--bg-primary);
  }

  .text-primary-light {
    color: var(--text-primary);
  }
}

.MuiPickersSectionList-root {
  padding: 8px !important;
}

.MuiOutlinedInput-root .MuiPickersSectionList-root {
  padding: 10px !important;
}

.css-o9f5zw-MuiInputBase-root-MuiOutlinedInput-root:hover
  .MuiOutlinedInput-notchedOutline {
  border-color: var(--border-color) !important;
}

.css-1tktgsa-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  /* height: 200px !important; */
  max-height: 200px !important;
  width: 200px !important;
}

.css-18p5xg2-MuiNotchedOutlined-root-MuiOutlinedInput-notchedOutline {
  border-color: var(--border-color) !important;
  /* padding: 16px 8px !important; */
  /* top: 0px !important; */
}

.css-1tktgsa-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  background-color: var(--bg-primary) !important;
  color: var(--text-primary) !important;
}

.css-maj990-MuiPaper-root-MuiDialog-paper {
  background-color: var(--bg-primary) !important;
}

.css-1hhdraj-MuiSvgIcon-root-MuiNativeSelect-root-MuiSelect-icon {
  color: var(--text-primary) !important;
}

.css-14500qs-MuiSvgIcon-root {
  color: var(--text-secondary) !important;
}

.css-up5yqv-MuiFormControl-root-MuiTextField-root {
  min-width: 180px !important;
  /* width: 200px !important; */
}

.css-1pjd06b {
  padding: 15px !important;
  padding-left: 80px !important;
  padding-bottom: 0 !important;
}

.css-yerm9j {
  padding: 15px !important;
  padding-left: 204px !important;
  padding-bottom: 0 !important;
}

.css-166ur73-MuiPickersInputBase-root-MuiPickersOutlinedInput-root {
  width: 193px !important;
}

.css-b1g3vx-MuiNativeSelect-root-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  width: 150px !important;
}

.css-eqc3kq-MuiFormControl-root-MuiPickersTextField-root {
  width: 100% !important;
}

.css-1r46z6h-MuiPaper-root-MuiDialog-paper {
  background-color: var(--bg-primary) !important;
}

.css-1fb7els-MuiPickersSectionList-root-MuiPickersInputBase-sectionsContainer-MuiPickersOutlinedInput-sectionsContainer {
  color: var(--text-primary) !important;
}

.css-6khlkn-MuiFormLabel-root-MuiInputLabel-root {
  color: var(--text-primary) !important;
}

.css-1ljffdk-MuiFormLabel-asterisk {
  color: red;
}

.css-peaglx-MuiButtonBase-root-MuiButton-root {
  text-transform: capitalize !important;
}

.css-1dx2d47-MuiButtonBase-root-MuiButton-root {
  text-transform: capitalize !important;
}

.css-3hfh1o-MuiButtonBase-root-MuiButton-root {
  text-transform: capitalize !important;
}

.css-xs1jo8-MuiButtonBase-root-MuiTab-root {
  text-transform: capitalize !important;
}

.css-orhhbu-MuiTableCell-root {
  padding: 2px 2px 2px 16px !important;
}

.css-1yhyctn-MuiPaper-root-MuiDialog-paper {
  background-color: var(--bg-primary) !important;
}

.css-1h5yrpd-MuiSvgIcon-root-MuiNativeSelect-root-MuiSelect-icon {
  color: var(--text-primary) !important;
}

.css-1cckmy8-MuiButtonBase-root-MuiButton-root {
  border-color: var(--border-color) !important;
  color: var(--text-primary) !important;
  padding: 8px !important;
}

.css-1phy807 {
  padding: 0 !important;
}

.css-15sdycy-MuiTableCell-root {
  color: var(--text-primary) !important;
  padding: 12px 16px !important;
  font-weight: 600 !important;
  background-color: var(--head) !important  ;
}

.css-orhhbu-MuiTableCell-root {
  color: var(--text-secondary) !important;
}

.css-dx7nlk-MuiPaper-root-MuiDialog-paper {
  background-color: var(--bg-primary) !important;
}

.css-aqlqb4-MuiButtonBase-root-MuiSwitchBase-root-MuiSwitch-switchBase.Mui-checked {
  color: var(--color-primary) !important;
}

.css-aqlqb4-MuiButtonBase-root-MuiSwitchBase-root-MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  background-color: var(--color-primary) !important;
}

.css-5qu1g4-MuiTableCell-root {
  background-color: var(--head) !important  ;
}

.css-w58ak0-MuiCircularProgress-root {
  color: var(--color-primary) !important;
}

.css-nxe85d-MuiFormHelperText-root {
  color: var(--text-primary) !important;
}

.css-14500qs-MuiSvgIcon-root {
  font-size: 18px !important;
}

.css-18n2af1-MuiInputBase-root-MuiOutlinedInput-root {
  /* top: -5px !important; */
}

.css-1idi8go-MuiTableCell-root {
  padding: 8px 16px !important;
}

.css-8aqssk-MuiFormControl-root-MuiTextField-root {
  /* top: 5px !important; */
}

.css-1iw3t7y-MuiFormControl-root {
  width: 100% !important;
}

.css-29y90v-MuiPickersInputBase-root-MuiPickersOutlinedInput-root {
  padding: 0 14px 0 0 !important;
}

.css-nxe85d-MuiFormHelperText-root.Mui-error {
  color: #e42929 !important;
}